{% extends "admin/base.html" %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'index' %}"> Home</a>
</div>
{% endblock %}



      {% block branding %}
      <h1 id="site-name">{{ site_header|default:_('Online Attendence System') }}</a></h1>
      {% endblock %}
      {% block usertools %}
      <div id="user-tools">


        {% block welcome-msg %}
            <strong>WELCOME,{{user.first_name}}/{{user.username}}</strong>
        {% endblock %}
        {% block userlinks %}
         <a href="{% url 'enroll' %}">Enroll new course</a>/<a href="{% url 'logout_view' %}">Log out</a>

        {% endblock %}
      </div>
      {% endblock %}

{% block sidebar %}


{% if e %}
<p class="errornote"> {{e}}</p>
{% endif %}

  <h1>Attendence: {{ percent }}%</h1>
<form action="{% url 'view_attendence' c %}" method="post">
  {% csrf_token %}
<h3>  From: <input type="date" name="from"></h3>
  <br>
<h3> To  : <input type="date" name="to"></h3>
  <br>
  <input type="submit" value="View">

</form>

{% if error %}
<br>
  <h3 class="errornote">{{error}}</h3>
{% endif %}
{% if message %}
{% if not error %}
    <table border="2px solid black" >
      <tr>
        <th>Date</th>
        <th>Attendence</th>
      </tr>

      {% for i in list%}
      <tr>
        <td>{{ i.date }}</td>
        <td>{{ i.present }}</td>
      </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endif %}
{% endblock %}
